.col-2 {
    grid-column: auto/span 2;
}

.col-3 {
    grid-column: auto/span 3;
}

.col-4 {
    grid-column: auto/span 4;
}

.col-6 {
    grid-column: auto/span 6;
}

.col-5 {
    grid-column: auto/span 5;
}

.col-8 {
    grid-column: auto/span 8;
}

.col-7 {
    grid-column: auto/span 7;
}

.col-1 {
    grid-column: auto/span 1;
}

.col-0.5 {
    grid-column: auto/span 0.5;
}

.col-10 {
    grid-column: auto/span 10;
}

.grid {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2px;
    counter-reset: div;
}

.grid div {
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
}