.trans {
    background: #93d4dd99;
    margin-left: 100PX;
    margin-right: 100PX;
    margin-top: 100PX;
    margin-bottom: 100PX;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.trans2 {
    margin-left: 100PX;
    margin-right: 50PX;
    margin-top: 50px;
    margin-bottom: 100PX;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    width: 1000px;
}


/*EDIT added book2*/

.book2 {
    background-image: url('../image/cover.jpg');
    background-size: cover;
    height: 600px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.book {
    background-image: url('../image/map.jpg');
    height: 300px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.hder {
    font-size: 45px;
    color: #49a3af;
}

input {
    border-radius: 25px;
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}

.user {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.user span {
    font-weight: 300;
}

#search {
    width: 130px;
    box-sizing: border-box;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: #eee;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-right: 10px;
}

#search:focus {
    width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px #9fe5ee;
    display: flex;
    max-width: 100%;
    margin: 20px;
    width: 700px;
}

.course h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.course h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.course-preview {
    background-color: #49a3af;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress-text {
    font-size: 15px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.Reservebtn {
    background-color: #49a3af;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

.Reservebtn:active {
    transform: scale(0.95);
}

.Reservebtn:hover {
    transform: scale(1.023);
}

.Reservebtn:focus {
    outline: none;
}


/* SOCIAL PANEL CSS */

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    margin-left: 70px;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 2px solid #90c4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Muli';
    position: relative;
    height: 450px;
    align-items: center;
    width: 400px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #6c9da3;
    border: 1px solid #348da3;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #5f96c9;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}

body .bookflight {
    margin: auto;
    width: 50%;
}

.checko {
    text-align: left;
}